.top-container {
    background-color: #E0F4FF;
    padding-top: 100px;
}

body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: relative;
    left: 200px;
}

.top-skill {
    width: 80%;
    height: 500px;
}
